<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>
    <link rel="stylesheet" type="text/css" href="/thinkphp5/public/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
	
			<table class="table table-hover table-bordered">
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>邮箱</th>
            <th>用户名</th>
            <th>创建时间</th>
            <th>更新时间</th>
        </tr>
        {volist name="teachers" id="teacher" key="key"}
        <tr>
            <td>{$key}</td>
            <td>{$teacher->getData('name')}</td>
            <td>{eq	name='$teacher->getData("sex")' value='0'}男{else/}女{/eq}</td>
            <td>{$teacher->getData('email')}</td>
            <td>{$teacher->getData('username')}</td>
            <td>{$teacher->getData('create_time')}</td>
            <td>{$teacher->getData('update_time')}</td>
        </tr>
        {/volist}
    </table>
	
</body>
</html>
